{{ partial "head.html" . }}

    {{ partial "header.html" . }}

    <!--Hair top banner start-->

    <div class="hair-main-wrapper">
        <div class="page-banner1">
            <img src="/img/product/ourproduct-ban.jpg" alt="produits cannabis" />
        </div>
        <div class="breadcrumbs-wrapper breadcumbs-bg1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs breadcrumbs-style1 sep1 posr">
                            <ul>
                                <li>
                                    <div class="breadcrumbs-icon1">
                                        <a href="/" title="Return to home"><i class="fa fa-home"></i></a>
                                    </div>
                                </li>
                                <li>{{ if eq .Lang "fr" }}Nos produits{{ else if eq .Lang "en" }}Our products{{ end }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Main shop area start-->

        <div class="main-shop-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-xs-12">
                        {{ if eq .Lang "fr" }}
                            <div id="merci">
                                <p>Nous travaillons présentement sur notre boutique en ligne. D'ici là, n'hésitez pas à regarder notre <a href="/menu/">menu</a>.</p>
                            </div>
                        {{ else if eq .Lang "en" }}
                            <div id="merci">
                                <p>We're currently working on our e-commerce. While we're at it, feel free to take a look at our <a href="/en/menu/">menu</a>.</p>
                            </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

{{ partial "footer.html" . }}