    <!-- Main footer area start-->

    <div class="main-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="footer-content-wrapper">
                        <div class="footer-content">
                        {{ if eq .Lang "fr" }}
                            <div id="f-about" class="footer-title def-funderline ftitle-about posr">
                                <h5 class="active-about">À propos</h5>
                            </div>
                            <div class="footer-text">
                                <p>La Forêt Verte vous offre l’accès à du cannabis fiable et de qualité, un processus d’achat entièrement sécurisé et une livraison rapide. Aussi, une assistance vous aide à être mis en relation avec des médecins qualifiés pouvant vous conseiller, vous informer et vous prescrire du cannabis thérapeutique.</p>
                                <div class="footer-readmore"><a href="/produits/">Nos produits</a>
                                </div>
                            </div>
                        {{ else if eq .Lang "en" }}
                            <div id="f-about" class="footer-title def-funderline ftitle-about posr">
                                <h5 class="active-about">About Us</h5>
                            </div>
                            <div class="footer-text">
                                <p>GreenForest guarantees a reliable and secured access to high quality cannabis with a fast home-delivery service. Additionally, the compassion club helps you consult with doctors who can answer your questions, give you all the information you need, and to provide you with therapeutic marijuana prescriptions.</p>
                                <div class="footer-readmore"><a href="/en/products/">Our products</a>
                                </div>
                            </div>
                        {{ end }}
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-list-wrapper">
                    {{ if eq .Lang "fr" }}
                        <div id="f-info" class="footer-title def-funderline ftitle-info posr">
                            <h5 class="active">Information</h5>
                        </div>
                        <ul class="footer-list-text jscroll-info">
                            <li><a href="/produits/" title="Produits">Produits</a>
                            </li>
                            <li><a href="/cannabis/" title="Cannabis">Cannabis</a>
                            </li>
                            <li><a href="/membre/" title="Devenir membre">Devenir membre</a>
                            </li>
                            <li><a href="/contact/" title="Nous contacter">Nous contacter</a>
                            </li>
                        </ul>
                    {{ else if eq .Lang "en" }}
                        <div id="f-info" class="footer-title def-funderline ftitle-info posr">
                            <h5 class="active">Information</h5>
                        </div>
                        <ul class="footer-list-text jscroll-info">
                            <li><a href="/en/products/" title="Products">Products</a>
                            </li>
                            <li><a href="/en/cannabis/" title="Cannabis">Cannabis</a>
                            </li>
                            <li><a href="/en/members/" title="Member">Become a member</a>
                            </li>
                            <li><a href="/en/contact/" title="Contact">Contact us</a>
                            </li>
                        </ul>
                    {{ end }}
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="footer-list-wrapper">
                    {{ if eq .Lang "fr" }}
                        <div id="f-cussve" class="footer-title def-funderline def-funderline2 ftitle-cus posr">
                            <h5 class="active">Services</h5>
                        </div>
                        <ul class="footer-list-text jscroll-cussrve">
                            <li><a href="/contact/" title="Nous contacter">Nous contacter</a>
                            </li>
                            <li><a href="/services/" title="Services">Services</a>
                            </li>
                            <li><a href="/inscription/" title="Devenir membre">Inscription</a>
                            </li>
                        </ul>
                    {{ else if eq .Lang "en" }}
                        <div id="f-cussve" class="footer-title def-funderline def-funderline2 ftitle-cus posr">
                            <h5 class="active">Services</h5>
                        </div>
                        <ul class="footer-list-text jscroll-cussrve">
                            <li><a href="/en/contact/" title="Contact us">Contact us</a>
                            </li>
                            <li><a href="/en/services/" title="Services">Services</a>
                            </li>
                            <li><a href="/en/register/" title="registration">Registration</a>
                            </li>
                        </ul>
                    {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main footer area end-->

    <!--Footer bottom area start-->

    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12 footer-bottom-left">
                    <div class="footer-bottom-text">
                        <p>Copyright <i class="fa fa-copyright"></i> {{ if eq .Lang "fr" }}Greenforest - Tous droits réservés{{ else if eq .Lang "en" }}Greenforest - All rights reserved{{ end }}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 footer-bottom-right">
                    <div class="footer-bottom-image">
                        {{ if eq .Lang "fr" }}Fait avec <i class="fa fa-heart"></i> par {{ else if eq .Lang "en" }}Made with <i class="fa fa-heart"></i> by {{ end }}<a href="http://akiamarketing.ca/">Akia Marketing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="to-top posr">
        <a href="#"><i class="zmdi zmdi-arrow-merge"></i></a>
    </div>

    <!--Footer bottom area end-->

    <!-- all js here -->
    <script src="/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdMTDYSh3bviekvclJq0V5W9G2zqjhBZE"></script>
    <!-- main js -->
    <script src="/js/main.min.js"></script>
</body>

</html>
