	<div class="header-area">
      <div class="header-topbar-area-top">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="header-login posr">
                      </div>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                      <div class="header-currency-area">
                          <ul>
                              <li>
                                  <div class="header-currency">
                                      <div class="currency-dd posr">
                                          <div class="cur-title2 currency-ttl">
                                              <div class="cur-usd">
                                                  <span>{{ if eq .Lang "fr" }}Français{{ else if eq .Lang "en" }}English{{ end }}</span>
                                                  <a href="#"><i class="zmdi zmdi-chevron-down"></i></a>
                                              </div>
                                              <div class="cur-text-wrapper cur-lanpos inner-btn2 currency-opt">
                                              {{ if eq .Lang "fr" }}
                                                  <div class="inner-text">
                                                      <span class="usd"><a href="#" class="active">Français</a></span>
                                                  </div>
                                                  <div class="inner-text">
                                                  {{ if .Params.translatedslug }}
                                                      <span class="cbp"><a href="{{ .Params.translatedslug }}" class="">English</a></span>
                                                  {{ else }}
                                                    {{ range .Translations }}
                                                        <span class="cbp"><a href="{{ .Permalink }}" class="">English</a></span>
                                                    {{ end }}
                                                  {{ end }}
                                                  
                                                  </div>
                                              {{ else if eq .Lang "en" }}
                                                  <div class="inner-text">
                                                  {{ if .Params.translatedslug }}
                                                      <span class="usd"><a href="{{ .Params.translatedslug }}" class="">Français</a></span>
                                                  {{ else }}
                                                    {{ range .Translations }}
                                                        <span class="usd"><a href="{{ .Permalink }}" class="">Français</a></span>
                                                    {{ end }}
                                                  {{ end }}
                                                  </div>
                                                  <div class="inner-text">
                                                      <span class="cbp"><a href="#" class="active">English</a></span>
                                                  </div>
                                              {{ end }}
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- <div class="col-md-2 col-sm-2 col-xs-12">
                      <ul class="header-social-icon text-right">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-envelope"></i></a>
                          </li>
                      </ul>
                  </div> -->
              </div>
          </div>
      </div>
      <div class="header-middle">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="header-logo">
                      {{ if eq .Lang "fr" }}
                          <a href="{{.Site.BaseURL}}"><img src="/img/logo.png" alt="greenforest" /></a>
                      {{ else if eq .Lang "en" }}
                          <a href="{{.Site.BaseURL}}en/"><img src="/img/logo.png" alt="greenforest" /></a>
                      {{ end }}
                      </div>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                      <div class="header-whishlist">
                          <div class="header-middle-phone">
                              <a href="tel:+14504770503" class="hidden-md hidden-lg"><span><i class="fa fa-phone"></i>1-450-477-0503</span></a>
                              <span class="hidden-sm hidden-xs"><i class="fa fa-phone"></i>1-450-477-0503</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--header main menu start-->

      <div id="sticky-header" class="main-menu-wrapper hp1-menu">
          <div class="container">
              <div class="row">
                  <div class="col-md-9 col-sm-10 hidden-xs">
                      <nav>
                      {{ if eq .Lang "fr" }}
                          <ul class="main-menu">
                              <li class='{{ if eq .Params.menuposition "accueil"}}active{{end}}'><a href="{{.Site.BaseURL}}">Accueil</a></li>
                              <li class='{{ if eq .Params.menuposition "membres"}}active{{end}}'><a href='{{.Site.BaseURL}}membres/'>Membres</a></li>
                              <li class='{{ if eq .Params.menuposition "menu"}}active{{end}}'><a href='{{.Site.BaseURL}}menu/'>Menu</a></li>
                              <li class='{{ if eq .Params.menuposition "produits"}}active{{end}}'><a href='{{.Site.BaseURL}}produits/'>Produits</a></li>
                              <li class='{{ if eq .Params.menuposition "cannabis"}}active{{end}}'><a href='{{.Site.BaseURL}}cannabis/'>Cannabis</a></li>
                              <li class='{{ if eq .Params.menuposition "services"}}active{{end}}'><a href='{{.Site.BaseURL}}services/'>Services</a></li>
                              <li class='{{ if eq .Params.menuposition "blogue"}}active{{end}}'><a href='{{.Site.BaseURL}}articles/'>Blogue</a></li>
                              <li class='{{ if eq .Params.menuposition "contact"}}active{{end}}'><a href='{{.Site.BaseURL}}contact/'>Contact</a></li>
                          </ul>
                      {{ else if eq .Lang "en" }}
                          <ul class="main-menu">
                              <li class='{{ if eq .Params.menuposition "accueil"}}active{{end}}'><a href="{{.Site.BaseURL}}en/">Home</a></li>
                              <li class='{{ if eq .Params.menuposition "membres"}}active{{end}}'><a href='{{.Site.BaseURL}}en/members/'>Members</a></li>
                              <li class='{{ if eq .Params.menuposition "menu"}}active{{end}}'><a href='{{.Site.BaseURL}}en/menu/'>Menu</a></li>
                              <li class='{{ if eq .Params.menuposition "produits"}}active{{end}}'><a href='{{.Site.BaseURL}}en/products/'>Products</a></li>
                              <li class='{{ if eq .Params.menuposition "cannabis"}}active{{end}}'><a href='{{.Site.BaseURL}}en/cannabis/'>Cannabis</a></li>
                              <li class='{{ if eq .Params.menuposition "services"}}active{{end}}'><a href='{{.Site.BaseURL}}en/services/'>Services</a></li>
                              <li class='{{ if eq .Params.menuposition "blogue"}}active{{end}}'><a href='{{.Site.BaseURL}}en/articles/'>Blog</a></li>
                              <li class='{{ if eq .Params.menuposition "contact"}}active{{end}}'><a href='{{.Site.BaseURL}}en/contact/'>Contact</a></li>
                          </ul>
                      {{ end }}
                      </nav>
                  </div>

                  <div class="col-md-3 col-sm-2 col-xs-12">
                      <div class="main-cart-area cart-sticky-display posr">
                          <div class="header-search header-search-position posr" style="display: none;">
                          {{ if eq .Lang "fr" }}
                              <button type="submit"><a href="{{.Site.BaseURL}}inscription/"><i class="fa fa-user-plus"></i></a>
                              </button>
                          {{ else if eq .Lang "en" }}
                              <button type="submit"><a href="{{.Site.BaseURL}}en/register/"><i class="fa fa-user-plus"></i></a>
                              </button>
                          {{ end }}
                          </div>
                          <div class="header-middle-phone sticky-phone">
                              <a href="tel:+14504770503" class="hidden-md hidden-lg"><span><i class="fa fa-phone"></i><span class="hidden-sm">1-450-477-0503</span></span></a>
                              <span class="hidden-sm hidden-xs"><i class="fa fa-phone"></i>1-450-477-0503</span>
                          </div>
                          <div class="header-cart-area cart-hover-effect">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="mobile-menu-area hp1-mobile-area">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12">
                          <nav class="active-mobile-menu">
                          {{ if eq .Lang "fr" }}
                          <ul class="main-menu">
                              <li class='{{ if eq .Params.menuposition "accueil"}}active{{end}}'><a href="{{.Site.BaseURL}}">Accueil</a></li>
                              <li class='{{ if eq .Params.menuposition "membres"}}active{{end}}'><a href='{{.Site.BaseURL}}membres/'>Membres</a></li>
                              <li class='{{ if eq .Params.menuposition "menu"}}active{{end}}'><a href='{{.Site.BaseURL}}menu/'>Menu</a></li>
                              <li class='{{ if eq .Params.menuposition "produits"}}active{{end}}'><a href='{{.Site.BaseURL}}produits/'>Produits</a></li>
                              <li class='{{ if eq .Params.menuposition "cannabis"}}active{{end}}'><a href='{{.Site.BaseURL}}cannabis/'>Cannabis</a></li>
                              <li class='{{ if eq .Params.menuposition "services"}}active{{end}}'><a href='{{.Site.BaseURL}}services/'>Services</a></li>
                              <li class='{{ if eq .Params.menuposition "blogue"}}active{{end}}'><a href='{{.Site.BaseURL}}articles/'>Blogue</a></li>
                              <li class='{{ if eq .Params.menuposition "contact"}}active{{end}}'><a href='{{.Site.BaseURL}}contact/'>Contact</a></li>
                          </ul>
                      {{ else if eq .Lang "en" }}
                          <ul class="main-menu">
                              <li class='{{ if eq .Params.menuposition "accueil"}}active{{end}}'><a href="{{.Site.BaseURL}}en/">Home</a></li>
                              <li class='{{ if eq .Params.menuposition "membres"}}active{{end}}'><a href='{{.Site.BaseURL}}en/members/'>Members</a></li>
                              <li class='{{ if eq .Params.menuposition "menu"}}active{{end}}'><a href='{{.Site.BaseURL}}en/menu/'>Menu</a></li>
                              <li class='{{ if eq .Params.menuposition "produits"}}active{{end}}'><a href='{{.Site.BaseURL}}en/products/'>Products</a></li>
                              <li class='{{ if eq .Params.menuposition "cannabis"}}active{{end}}'><a href='{{.Site.BaseURL}}en/cannabis/'>Cannabis</a></li>
                              <li class='{{ if eq .Params.menuposition "services"}}active{{end}}'><a href='{{.Site.BaseURL}}en/services/'>Services</a></li>
                              <li class='{{ if eq .Params.menuposition "blogue"}}active{{end}}'><a href='{{.Site.BaseURL}}en/articles/'>Blog</a></li>
                              <li class='{{ if eq .Params.menuposition "contact"}}active{{end}}'><a href='{{.Site.BaseURL}}en/contact/'>Contact</a></li>
                          </ul>
                      {{ end }}
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!--header main menu end-->
  </div>