<!doctype html>
<html class="no-js" lang="{{ .Lang }}">

<head>
    {{ if getenv "IS_PROD" }}
    <!-- Google Tag Manager -->
    <!-- <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5SWPR7Q');</script> -->
    <!-- End Google Tag Manager -->
    {{ end }}
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
    <title>{{.Title}}</title>
    <meta name="description" content="{{if .Description }}{{.Description}}{{ else if .Summary }}{{ .Summary }}{{else}}Articles promotionnels locaux et de qualité{{end}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ if .Params.noindex }}
    <meta name="robots" content="noindex,nofollow">
    {{ end }}
    {{ if .Params.canonurl }}
    <link rel="canonical" href="{{ .Params.canonurl }}"/>
    <meta http-equiv="refresh" content="0; url={{ .Params.canonurl }}" />
    {{ end }}
    <!-- Required Open Graph Info -->
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else if .Summary }}{{ .Summary }}{{ else }}Votre accès fiable et simplifié à du cannabis de haute qualité{{ end }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    {{ if .Params.image }}
        <meta property="og:image" content="{{ .Params.image }}" />
    {{ else }}
        <meta property="og:image" content="/img/logo.png" />
    {{ end }}
    <!-- Place favicon.ico in the root directory -->
    <!-- all css here -->
    <link rel="stylesheet" href="/css/main.min.css">
    <!-- modernizr css -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    {{ if getenv "IS_PROD" }}
    <!-- Google Tag Manager (noscript) -->
    <!-- <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5SWPR7Q"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript> -->
    <!-- End Google Tag Manager (noscript) -->
    {{ end }}
	{{ `
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--> ` | safeHTML }}