	<div class="header-area">
      <div class="header-topbar-area-top">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="header-login posr">
                      {{ if eq .Lang "fr" }}
                          <ul>
                              <li><a href="#">Mon compte</a>
                              </li>
                              <li><a href="#">Mes coups de coeur</a>
                              </li>
                              <!-- <li><a href="login.html">Login</a>
                              </li> -->
                          </ul>
                      {{ else if eq .Lang "en" }}
                          <ul>
                              <li><a href="#">My account</a>
                              </li>
                              <li><a href="#">Wishlist</a>
                              </li>
                              <!-- <li><a href="login.html">Login</a>
                              </li> -->
                          </ul>
                      {{ end }}
                      </div>
                  </div>
                  <div class="col-md-8 col-sm-8 col-xs-12">
                      <div class="header-currency-area">
                          <ul>
                              <li>
                                  <div class="header-currency">
                                      <div class="currency-dd posr">
                                          <div class="cur-title2 currency-ttl">
                                              <div class="cur-usd">
                                                  <span>{{ if eq .Lang "fr" }}Français{{ else if eq .Lang "en" }}English{{ end }}</span>
                                                  <a href="#"><i class="zmdi zmdi-chevron-down"></i></a>
                                              </div>
                                              <div class="cur-text-wrapper cur-lanpos inner-btn2 currency-opt">
                                              {{ if eq .Lang "fr" }}
                                                  <div class="inner-text">
                                                      <span class="usd"><a href="#" class="active">Français</a></span>
                                                  </div>
                                                  <div class="inner-text">
                                                  {{ if .Params.translatedslug }}
                                                      <span class="cbp"><a href="{{ .Params.translatedslug }}" class="">English</a></span>
                                                  {{ else }}
                                                    {{ range .Translations }}
                                                        <span class="cbp"><a href="{{ .Permalink }}" class="">English</a></span>
                                                    {{ end }}
                                                  {{ end }}
                                                  
                                                  </div>
                                              {{ else if eq .Lang "en" }}
                                                  <div class="inner-text">
                                                  {{ if .Params.translatedslug }}
                                                      <span class="usd"><a href="{{ .Params.translatedslug }}" class="">Français</a></span>
                                                  {{ else }}
                                                    {{ range .Translations }}
                                                        <span class="usd"><a href="{{ .Permalink }}" class="">Français</a></span>
                                                    {{ end }}
                                                  {{ end }}
                                                  </div>
                                                  <div class="inner-text">
                                                      <span class="cbp"><a href="#" class="active">English</a></span>
                                                  </div>
                                              {{ end }}
                                              </div>

                                          </div>
                                      </div>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <!-- <div class="col-md-2 col-sm-2 col-xs-12">
                      <ul class="header-social-icon text-right">
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-envelope"></i></a>
                          </li>
                      </ul>
                  </div> -->
              </div>
          </div>
      </div>
      <div class="header-middle">
          <div class="container">
              <div class="row">
                  <div class="col-md-3 col-sm-3 col-xs-12">
                      <div class="header-logo">
                      {{ if eq .Lang "fr" }}
                          <a href="/"><img src="/img/logo.png" alt="greenforest" /></a>
                      {{ else if eq .Lang "en" }}
                          <a href="/en/"><img src="/img/logo.png" alt="greenforest" /></a>
                      {{ end }}
                      </div>
                  </div>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                      <div class="header-whishlist">
                          <div class="header-whish-compare posr">
                          {{ if eq .Lang "fr" }}
                              <div class="header-whish">
                                  <a href="#">Coups de coeur</a>
                              </div>
                              <div class="header-compare">
                                  <a href="#">Comparer</a>
                              </div>
                          {{ else if eq .Lang "en" }}
                              <div class="header-whish">
                                  <a href="#">Wishlist</a>
                              </div>
                              <div class="header-compare">
                                  <a href="#">Compare</a>
                              </div>
                          {{ end }}
                          </div>
                          <div class="header-middle-phone">
                              <a href="tel:+14504770503" class="hidden-md hidden-lg"><span><i class="fa fa-phone"></i>1-450-477-0503</span></a>
                              <span class="hidden-sm hidden-xs"><i class="fa fa-phone"></i>1-450-477-0503</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--header main menu start-->

      <div id="sticky-header" class="main-menu-wrapper hp1-menu">
          <div class="container">
              <div class="row">
                  <div class="col-md-9 col-sm-10 hidden-xs">
                      <nav>
                      {{ if eq .Lang "fr" }}
                          <ul class="main-menu">
                              <li class='{{ if eq .Params.menuposition "accueil"}}active{{end}}'><a href="/">Accueil</a></li>
                              <li class='{{ if eq .Params.menuposition "membres"}}active{{end}}'><a href='/membres/'>Membres</a></li>
                              <li class='{{ if eq .Params.menuposition "menu"}}active{{end}}'><a href='/menu/'>Menu</a></li>
                              <li class='{{ if eq .Params.menuposition "produits"}}active{{end}}'><a href='/produits/'>Produits</a></li>
                              <li class='{{ if eq .Params.menuposition "cannabis"}}active{{end}}'><a href='/cannabis/'>Cannabis</a></li>
                              <li class='{{ if eq .Params.menuposition "services"}}active{{end}}'><a href='/services/'>Services</a></li>
                              <li class='{{ if eq .Params.menuposition "contact"}}active{{end}}'><a href='/contact/'>Contact</a></li>
                          </ul>
                      {{ else if eq .Lang "en" }}
                          <ul class="main-menu">
                              <li class='{{ if eq .Params.menuposition "accueil"}}active{{end}}'><a href="/en/">Home</a></li>
                              <li class='{{ if eq .Params.menuposition "membres"}}active{{end}}'><a href='/en/members/'>Members</a></li>
                              <li class='{{ if eq .Params.menuposition "menu"}}active{{end}}'><a href='/en/menu/'>Menu</a></li>
                              <li class='{{ if eq .Params.menuposition "produits"}}active{{end}}'><a href='/en/products/'>Products</a></li>
                              <li class='{{ if eq .Params.menuposition "cannabis"}}active{{end}}'><a href='/en/cannabis/'>Cannabis</a></li>
                              <li class='{{ if eq .Params.menuposition "services"}}active{{end}}'><a href='/en/services/'>Services</a></li>
                              <li class='{{ if eq .Params.menuposition "contact"}}active{{end}}'><a href='/en/contact/'>Contact</a></li>
                          </ul>
                      {{ end }}
                      </nav>
                  </div>

                  <div class="col-md-3 col-sm-2 col-xs-12">
                      <div class="main-cart-area  cart-sticky-display posr">
                          <div class="header-search header-search-position posr">
                          {{ if eq .Lang "fr" }}
                              <form action="#">
                                  <input type="text" value="" placeholder="Recherche de produits" />
                                  <button type="submit"><i class="fa fa-search"></i>
                                  </button>
                              </form>
                          {{ else if eq .Lang "en" }}
                              <form action="#">
                                  <input type="text" value="" placeholder="Search Product..." />
                                  <button type="submit"><i class="fa fa-search"></i>
                                  </button>
                              </form>
                          {{ end }}
                          </div>
                          <div class="header-cart-area cart-hover-effect">
                              <div class="shopping-cart style-shopping-bag strong-up">
                                  <a href="cart.html"><span><strong>Shopping cart</strong></span></a>
                              </div>
                              <div class="shopping-cart">
                                  <a href="cart.html"><span class="cart-item">0 item(s)</span><span class="cart-amount"> - $0.00</span></a>
                              </div>

                              <div class="header-cart-box-wrapper cart-position-style1">
                                  <div class="single-cart-box">
                                      <div class="cart-image">
                                          <a href="cart.html"><img src="/images/product/saving-tool.jpg" alt="" />
                                          </a>
                                      </div>
                                      <div class="cart-content">
                                          <div class="cart-heading">
                                              <a href="cart.html"> <span class="cart-qty">2 x</span> soluta dress</a>
                                          </div>
                                          <div class="cart-dress-color"><span>s, yellow</span>
                                          </div>
                                          <div class="cart-price">$200.00</div>
                                      </div>
                                      <div class="cart-remove deft-remove-icon">
                                          <a href="#"><i class="zmdi zmdi-close"></i></a>
                                      </div>
                                      <div class="cart-shipping-cost">
                                          <span class="shipping-text">Shipping </span>
                                          <span class="shipping-amt">$7.00</span>
                                      </div>
                                  </div>
                                  <div class="clearfix"></div>
                                  <div class="single-cart-box">
                                      <div class="cart-image">
                                          <a href="cart.html"><img src="/images/product/saving-tool.jpg" alt="" />
                                          </a>
                                      </div>
                                      <div class="cart-content">
                                          <div class="cart-heading">
                                              <a href="cart.html"> <span class="cart-qty">2 x</span> soluta dress</a>
                                          </div>
                                          <div class="cart-dress-color"><span>s, yellow</span>
                                          </div>
                                          <div class="cart-price">$250.00</div>
                                      </div>
                                      <div class="cart-remove deft-remove-icon">
                                          <a href="#"><i class="zmdi zmdi-close"></i></a>
                                      </div>
                                      <div class="cart-shipping-cost">
                                          <span class="shipping-text">Shipping</span>
                                          <span class="shipping-amt">$8.00</span>
                                      </div>
                                  </div>
                                  <div class="cart-subtotal">
                                      <span class="subttl-text">Grand total</span>
                                      <span class="subttl-amt">$465.00</span>
                                  </div>

                                  <div class="cart-checkout-btn btn-def-checkout">
                                      <a href="checkout.html">Check out <i class="checkout-dir-icon zmdi zmdi-chevron-right "></i></a>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="mobile-menu-area hp1-mobile-area">
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12">
                          <nav class="active-mobile-menu">
                          {{ if eq .Lang "fr" }}
                          <ul>
                              <li class='{{ if eq .Params.menuposition "accueil"}}active{{end}}'><a href="/">Accueil</a></li>
                              <li class='{{ if eq .Params.menuposition "membres"}}active{{end}}'><a href='/membres/'>Membres</a></li>
                              <li class='{{ if eq .Params.menuposition "menu"}}active{{end}}'><a href='/menu/'>Menu</a></li>
                              <li class='{{ if eq .Params.menuposition "produits"}}active{{end}}'><a href='/produits/'>Produits</a></li>
                              <li class='{{ if eq .Params.menuposition "cannabis"}}active{{end}}'><a href='/cannabis/'>Cannabis</a></li>
                              <li class='{{ if eq .Params.menuposition "services"}}active{{end}}'><a href='/services/'>Services</a></li>
                              <li class='{{ if eq .Params.menuposition "contact"}}active{{end}}'><a href='/contact/'>Contact</a></li>
                          </ul>
                      {{ else if eq .Lang "en" }}
                          <ul>
                              <li class='{{ if eq .Params.menuposition "accueil"}}active{{end}}'><a href="/en/">Home</a></li>
                              <li class='{{ if eq .Params.menuposition "membres"}}active{{end}}'><a href='/en/members/'>Members</a></li>
                              <li class='{{ if eq .Params.menuposition "menu"}}active{{end}}'><a href='/en/menu/'>Menu</a></li>
                              <li class='{{ if eq .Params.menuposition "produits"}}active{{end}}'><a href='/en/products/'>Products</a></li>
                              <li class='{{ if eq .Params.menuposition "cannabis"}}active{{end}}'><a href='/en/cannabis/'>Cannabis</a></li>
                              <li class='{{ if eq .Params.menuposition "services"}}active{{end}}'><a href='/en/services/'>Services</a></li>
                              <li class='{{ if eq .Params.menuposition "contact"}}active{{end}}'><a href='/en/contact/'>Contact</a></li>
                          </ul>
                      {{ end }}
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <!--header main menu end-->
  </div>