{{- partial "head.html" . -}}

<!-- <body class=" frame"> -->

<div id="outer-wrapper" class="animate translate-z-in">
    <div id="inner-wrapper">
        <div id="table-wrapper" class="center">
            <div class="container">
                <div id="row-header">
                    <header><a href="#home" id="brand" class="animate animate fade-in animation-time-3s"><img src="/img/logo.png" alt=""></a></header>
                </div>
                <!--end row-header-->
                <div id="row-content">
                    <div id="content-wrapper">
                        <div id="content" class="animate translate-z-in animation-time-2s delay-03s">
                            <h1 class="opacity-70">En construction!</h1>
                            <h2 class="opacity-50">Nous travaillons fort pour vous donner une meilleure expérience</h2>
                            <!-- <a href="#services" class="open-side-panel btn btn-default btn-framed">Services</a>
                            <a href="#about-us" class="open-side-panel btn btn-default btn-framed">À propos</a> -->
                            <!-- <a href="#contact" class="open-side-panel btn btn-default btn-framed">Contactez-nous</a> -->
                        </div>
                        <!--end content-->
                    </div>
                    <!--end content-wrapper-->
                </div>
                <!--end row-content-->
                <div id="row-footer">
                    <footer>
                        <!-- <div class="social-icons">
                            <a href="https://www.facebook.com/Creadditive-1055895711108021/?ref=br_rs" class="animate fade-in animation-time-1s delay-08s" target="_blank"><i class="fa fa-facebook"></i></a>
                        </div> -->
                    </footer>
                </div>
                <!--end row-footer-->
            </div>
            <!--end container-->
        </div>
        <!--end table-wrapper-->
        <div class="background-wrapper has-vignette">
            <div id="particles-js" class="opacity-40"></div>
            <div class="bg-transfer opacity-20"><img src="assets/img/background-08.jpg" alt=""></div>
        </div>
        <!--end background-wrapper-->
    </div>
    <!--end inner-wrapper-->
</div>
<!--end outer-wrapper-->


<div class="backdrop"></div>

<script type="text/javascript" src="assets/js/jquery-2.2.1.min.js"></script>
<script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="assets/js/jquery.trackpad-scroll-emulator.min.js"></script>
<script type="text/javascript" src="assets/js/particles.min.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>


</body>
