{{ partial "head.html" . }}

    {{ partial "header.html" . }}

    <div class="subpage-main-wrapper about-full">

        <!--Breadcrumb start-->
        <div class="breadcrumbs-wrapper breadcumbs-bg1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs breadcrumbs-style1 sep1 posr">
                            <ul>
                                <li>
                                    <div class="breadcrumbs-icon1">
                                        <a href="/" target="_blank" title="Return to home"><i class="fa fa-home"></i></a>
                                    </div>
                                </li>
                                <li>{{ if eq .Lang "fr" }}À propos du cannabis{{ else if eq .Lang "en" }}About cannabis{{ end }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb end-->

        <!--about us main area start-->

        <div class="about-top-area">
            <div class="container">
            		<div class="row">
            			<div class="col-xs-12">
            				<div class="abt-content-wrapper">
                            {{ if eq .Lang "fr" }}
                                <div class="abt-title title-head-normal">
                                    <h3>Le <span class="color-black-def">Cannabis</span></h3>
                                </div>
                                <div class="abt-content">
                                    <p>Il existe deux grandes familles de cannabis : Sativa et Indica, pouvant être mélangées afin de créer des variétés hybrides. Chaque variété provoque différents effets sur le corps et l’esprit, créant ainsi un large éventail de produits aux bienfaits médicaux extrêmement variés.</p>
                                    <p>La création de variété hybrides, mélangeant Indica et Sativa selon des proportions précises (par exemple 30% indica - 70% sativa, 50% - 50% chaque, 80% indica - 20% sativa) permettent de cibler différents effets thérapeutiques bien précis permettant de traiter des maladies spécifiques.</p>
                                    <p>L’effet provoqué par l’Indica résulte généralement en une sensation de profonde relaxation mentale et physique, voire d’endormissement. Son usage est souvent recommandé pour des cas de troubles anxieux, de douleurs chroniques ou encore d’insomnies.</p>
                                    <p>La Sativa, quant à elle, procure plutôt une sensation énergique, elle est généralement source de créativité et d’envies de rire. Son effet est souvent défini comme “cérébral”, et, contrairement à l’indica, sa consommation n’a pas un effet soporifique, ce qui rend son utilisation plus adaptée à une consommation de jour.</p>
                                </div>
                            {{ else if eq .Lang "en" }}
                                <div class="abt-title title-head-normal">
                                    <h3><span class="color-black-def">Cannabis</span></h3>
                                </div>
                                <div class="abt-content">
                                    <p>Il existe deux grandes familles de cannabis : Sativa et Indica, pouvant être mélangées afin de créer des variétés hybrides. Chaque variété provoque différents effets sur le corps et l’esprit, créant ainsi un large éventail de produits aux bienfaits médicaux extrêmement variés.</p>
                                    <p>La création de variété hybrides, mélangeant Indica et Sativa selon des proportions précises (par exemple 30% indica - 70% sativa, 50% - 50% chaque, 80% indica - 20% sativa) permettent de cibler différents effets thérapeutiques bien précis permettant de traiter des maladies spécifiques.</p>
                                    <p>L’effet provoqué par l’Indica résulte généralement en une sensation de profonde relaxation mentale et physique, voire d’endormissement. Son usage est souvent recommandé pour des cas de troubles anxieux, de douleurs chroniques ou encore d’insomnies.</p>
                                    <p>La Sativa, quant à elle, procure plutôt une sensation énergique, elle est généralement source de créativité et d’envies de rire. Son effet est souvent défini comme “cérébral”, et, contrairement à l’indica, sa consommation n’a pas un effet soporifique, ce qui rend son utilisation plus adaptée à une consommation de jour.</p>
                                </div>
                            {{ end }}
	                	    </div>
            			</div>
            		</div>
                <div class="row">
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="abt-image">
                            <a href="#"><img src="/img/about/aboutcannabis-img1.jpg" alt="Cannabis" />
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <div class="abt-content-wrapper">
                        {{ if eq .Lang "fr" }}
                            <div class="abt-title title-head-normal">
                                <h3>Bénéfices de l'<span class="color-black-def">Indica</span></h3>
                            </div>
                            <div class="about-feature">
                                <ul>
                                    <li><i class="fa fa-check"></i> Soulager les douleurs corporelles</li>
                                    <li><i class="fa fa-check"></i> Relaxer les muscles</li>
                                    <li><i class="fa fa-check"></i> Calmer les crises de spasmes et les tensions musculaires</li>
                                    <li><i class="fa fa-check"></i> Apaiser les maux de tête et migraines</li>
                                    <li><i class="fa fa-check"></i> Soulager l’anxiété et le stress</li>
                                </ul>
                            </div>
                            <div class="abt-title title-head-normal second">
                                <h3>Bénéfices de la <span class="color-black-def">Sativa</span></h3>
                            </div>
                            <div class="about-feature">
                                <ul>
                                    <li><i class="fa fa-check"></i> Le sentiment de bien-être</li>
                                    <li><i class="fa fa-check"></i> Aider à lutter contre la dépression</li>
                                    <li><i class="fa fa-check"></i> Stimule la créativité et la concentration</li>
                                </ul>
                            </div>
                        {{ else if eq .Lang "en" }}
                            <div class="abt-title title-head-normal">
                                <h3>Bénéfices de l'<span class="color-black-def">Indica</span></h3>
                            </div>
                            <div class="about-feature">
                                <ul>
                                    <li><i class="fa fa-check"></i> Soulager les douleurs corporelles</li>
                                    <li><i class="fa fa-check"></i> Relaxer les muscles</li>
                                    <li><i class="fa fa-check"></i> Calmer les crises de spasmes et les tensions musculaires</li>
                                    <li><i class="fa fa-check"></i> Apaiser les maux de tête et migraines</li>
                                    <li><i class="fa fa-check"></i> Soulager l’anxiété et le stress</li>
                                </ul>
                            </div>
                            <div class="abt-title title-head-normal second">
                                <h3>Bénéfices de la<span class="color-black-def">Sativa</span></h3>
                            </div>
                            <div class="about-feature">
                                <ul>
                                    <li><i class="fa fa-check"></i> Le sentiment de bien-être</li>
                                    <li><i class="fa fa-check"></i> Aider à lutter contre la dépression</li>
                                    <li><i class="fa fa-check"></i> Stimule la créativité et la concentration</li>
                                </ul>
                            </div>
                        {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="abt-middle-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                    {{ if eq .Lang "fr" }}
                        <div class="abt-title title-head-normal">
                            <h3>Consommation</h3>
                        </div>
                        <div class="abt-content">
                            <p>Le cannabis fumé reste la forme de consommation la plus répandue, cependant, de plus en plus de formes de consommations se développent, afin de prévenir les effets néfastes de la fumée sur les poumons. Le cannabis comestible par exemple, sous formes de cookies ou brownies devient de plus en plus populaire, tout comme l’utilisation de vaporisateurs permettant d’inhaler le principe actif du cannabis ou encore les sprays buccaux.</p>
                        </div>
                    {{ else if eq .Lang "en" }}
                        <div class="abt-title title-head-normal">
                            <h3>Consommation</h3>
                        </div>
                        <div class="abt-content">
                            <p>Le cannabis fumé reste la forme de consommation la plus répandue, cependant, de plus en plus de formes de consommations se développent, afin de prévenir les effets néfastes de la fumée sur les poumons. Le cannabis comestible par exemple, sous formes de cookies ou brownies devient de plus en plus populaire, tout comme l’utilisation de vaporisateurs permettant d’inhaler le principe actif du cannabis ou encore les sprays buccaux.</p>
                        </div>
                    {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}