{{ partial "head.html" . }}

    {{ partial "header.html" . }}

    <!--breacrumb start-->

    <div class="breadcrumbs-wrapper breadcumbs-bg1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs breadcrumbs-style1 sep1 posr">
                        <ul>
                            <li>
                                <div class="breadcrumbs-icon1">
                                    <a href='{{ if eq .Lang "en" }}/en{{end}}/' target="_blank" title="Return to home"><i class="fa fa-home"></i></a>
                                </div>
                            </li>
                            <li>{{ if eq .Lang "fr" }}Formulaire{{ else if eq .Lang "en" }}Registration form{{ end }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breacrumb end-->

    <!--Steps start-->

    <div class="cart-sum-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="progress-summery text-center">
                        <ul class="progress-steps">
                            <li class="steps-item  litext is-active" data-identifiant="step1" id="step1"><a href="javascript:;">{{ if eq .Lang "fr" }}ÉTAPE 1{{ else if eq .Lang "en" }}STEP 1{{ end }}</a>
                            </li>
                            <li class="steps-item" data-identifiant="step2" id="step2"><a href="javascript:;">{{ if eq .Lang "fr" }}ÉTAPE 2{{ else if eq .Lang "en" }}STEP 2{{ end }}</a>
                            </li>
                            <li class="steps-item" data-identifiant="step3" id="step3"><a href="javascript:;">{{ if eq .Lang "fr" }}ÉTAPE 3{{ else if eq .Lang "en" }}STEP 3{{ end }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Steps end-->
    <div class="multistep-form">
    	<div class="container">
			    <div class="assessment-container">
			        <div class="row">
			            <div class="col-sm-12 form-box">
			            {{ if eq .Lang "fr" }}
			                <form role="form" class="registration-form" action="/merci/" netlify method="post" netlify-honeypot="bot-field" name="registration-form-fr">
			            {{ else if eq .Lang "en" }}
			            		<form role="form" class="registration-form" action="/en/thank-you/" netlify method="post" netlify-honeypot="bot-field" name="registration-form-en">
			            {{ end }}
			                    <fieldset id="step1">
			                        <div class="form-bottom">
			                            <div class="row">
			                                <div class="form-group col-md-6 col-sm-6">
			                                    <input type="text" class="form-control" name="firstname" placeholder='{{ if eq .Lang "fr" }}Prénom*{{ else if eq .Lang "en" }}First name*{{ end }}' id="fname">
			                                </div>
			                                <div class="form-group col-md-6 col-sm-6">
			                                    <input type="text" class="form-control" name="lastname" placeholder='{{ if eq .Lang "fr" }}Nom de famille*{{ else if eq .Lang "en" }}Last name*{{ end }}' id="lname">
			                                    <p class="hidden">
                                              <label>Don’t fill this out: <input name="bot-field"></label>
                                          </p>
			                                </div>
			                            </div>
			                            <div class="form-group">
			                                <input type="text" name="email" placeholder='{{ if eq .Lang "fr" }}Courriel*{{ else if eq .Lang "en" }}Email*{{ end }}' id="email" class="form-email form-control">
			                            </div>
			                            <div class="row">
			                                <div class="form-group col-md-6 col-sm-6">
			                                    <input type="text" class="form-control" name="phone" placeholder='{{ if eq .Lang "fr" }}Téléphone*{{ else if eq .Lang "en" }}Phone*{{ end }}' id="phone">
			                                </div>
			                                <div class="form-group col-md-6 col-sm-6">
			                                    <input type="text" class="form-control not-required" name="mmar" placeholder='{{ if eq .Lang "fr" }}# MMAR si applicable{{ else if eq .Lang "en" }}# MMAR if applicable{{ end }}' id="mmar">
			                                </div>
			                            </div>
			                            <div class="form-group">
			                                <input type="date" name="birthdate" placeholder='{{ if eq .Lang "fr" }}Date de naissance*{{ else if eq .Lang "en" }}Date of birth*{{ end }}' id="birthdate" class="form-control">
			                            </div>
			                            <div class="form-group" style="margin-bottom:3px;">
			                                <div class="row">
			                                		<div class="form-group col-md-9 col-sm-9">
			                                        <input type="text" class="form-control" name="address" placeholder='{{ if eq .Lang "fr" }}Adresse*{{ else if eq .Lang "en" }}Address*{{ end }}' id="contact_address">
			                                    </div>
			                                    <div class="form-group col-md-3 col-sm-3">
			                                        <input type="text" class="form-control not-required" name="apartment" placeholder='{{ if eq .Lang "fr" }}App.{{ else if eq .Lang "en" }}Apt.{{ end }}' id="apartment">
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="form-group" style="margin-bottom:3px;">
			                                <div class="row">
			                                		<div class="form-group col-md-4 col-sm-4">
			                                        <input type="text" class="form-control" name="postal_code" placeholder='{{ if eq .Lang "fr" }}Code postal*{{ else if eq .Lang "en" }}Postal code*{{ end }}' id="postal_code">
			                                    </div>
			                                    <div class="form-group col-md-4 col-sm-4">
			                                        <input type="text" class="form-control" name="city" placeholder='{{ if eq .Lang "fr" }}Ville*{{ else if eq .Lang "en" }}City*{{ end }}' id="city">
			                                    </div>
			                                    <div class="form-group col-md-4 col-sm-4">
			                                        <input type="text" class="form-control not-required" name="province" placeholder='Province' id="province">
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="form-group">
			                                <!-- <textarea name="conditions" placeholder='{{ if eq .Lang "fr" }}Condition médicale et symptômes*" class="form-control{{ else if eq .Lang "en" }} {{ end }}' id="conditions" required> -->
			                            </div>
			                            
			                            <button type="button" class="btn btn-next">{{ if eq .Lang "fr" }}Suivant{{ else if eq .Lang "en" }}Next{{ end }}</button>
			                        </div>
			                    </fieldset>
			                    <fieldset id="step2">
			                        <div class="form-bottom">
			                            <div class="row">
			                                <div class="form-group col-md-6 col-sm-6">
			                                    <input type="text" class="form-control" name="physician_firstname" placeholder='{{ if eq .Lang "fr" }}Prénom du médecin*{{ else if eq .Lang "en" }}Physician first name*{{ end }}' id="fname">
			                                </div>
			                                <div class="form-group col-md-6 col-sm-6">
			                                    <input type="text" class="form-control" name="physician_lastname" placeholder='{{ if eq .Lang "fr" }}Nom de famille du médecin*{{ else if eq .Lang "en" }}Physician last name*{{ end }}' id="lname">
			                                </div>
			                            </div>
			                            <div class="row">
			                                <div class="form-group col-md-4 col-sm-4">
			                                    <input type="text" class="form-control" name="physician_phone" placeholder='{{ if eq .Lang "fr" }}Téléphone du médecin*{{ else if eq .Lang "en" }}Physician phone*{{ end }}' id="phone">
			                                </div>
			                                <div class="form-group col-md-8 col-sm-8">
			                                    <input type="text" name="physician_email" placeholder='{{ if eq .Lang "fr" }}Courriel du médecin{{ else if eq .Lang "en" }}Physician email{{ end }}' id="email" class="form-email form-control not-required">
			                                </div>
			                            </div>
			                            <div class="form-group" style="margin-bottom:3px;">
			                                <div class="row">
			                                		<div class="form-group col-md-9 col-sm-9">
			                                        <input type="text" class="form-control" name="physician_address" placeholder='{{ if eq .Lang "fr" }}Adresse du médecin*{{ else if eq .Lang "en" }}Physician address*{{ end }}' id="contact_address">
			                                    </div>
			                                    <div class="form-group col-md-3 col-sm-3">
			                                        <input type="text" class="form-control not-required" name="physician_suite" placeholder='{{ if eq .Lang "fr" }}Bureau{{ else if eq .Lang "en" }}Office{{ end }}' id="apartment">
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="form-group" style="margin-bottom:3px;">
			                                <div class="row">
			                                		<div class="form-group col-md-4 col-sm-4">
			                                        <input type="text" class="form-control" name="physician_postal_code" placeholder='{{ if eq .Lang "fr" }}Code postal*{{ else if eq .Lang "en" }}Postal code*{{ end }}' id="postal_code">
			                                    </div>
			                                    <div class="form-group col-md-4 col-sm-4">
			                                        <input type="text" class="form-control" name="physician_city" placeholder='{{ if eq .Lang "fr" }}Ville*{{ else if eq .Lang "en" }}City*{{ end }}' id="city">
			                                    </div>
			                                    <div class="form-group col-md-4 col-sm-4">
			                                        <input type="text" class="form-control not-required" name="physician_province" placeholder='Province' id="province">
			                                    </div>
			                                </div>
			                            </div>
			                            <div class="form-group" style="margin-left: 2px">
			                            {{ if eq .Lang "fr" }}
			                            	<label for="using_prescription" style="margin-right: 40px">Y a-t-il de la médication qui vous est prescrite présentement?</label>
			                            	<input type="checkbox" data-toggle="toggle" checked data-on="Oui" data-off="Non" name="using_prescription">
			                            {{ else if eq .Lang "en" }}
																		<label for="using_prescription" style="margin-right: 40px">Are you currently taking any prescription pharmaceuticals?</label>
			                            	<input type="checkbox" data-toggle="toggle" checked data-on="Yes" data-off="No" name="using_prescription">
			                            {{ end }}
			                            </div>
			                            <div class="form-group">
			                                <input type="text" name="how_long" placeholder='{{ if eq .Lang "fr" }}Depuis combien de temps consommez-vous du cannabis?{{ else if eq .Lang "en" }}How long have you been using cannabis?{{ end }}*' class="form-control" id="how_long">
			                            </div>
			                            <div class="form-group">
			                                <textarea name="effect_symptoms" placeholder='{{ if eq .Lang "fr" }}Quel est l&#39;effet du cannabis sur vos symptômes?{{ else if eq .Lang "en" }}What are the effects of cannabis on your symptoms?{{ end }}' class="form-control" id="conditions"></textarea>
			                            </div>
			                            <div class="form-group">
			                                <input type="text" name="often_use" placeholder='{{ if eq .Lang "fr" }}À quelle fréquence consommez-vous du cannabis?{{ else if eq .Lang "en" }}How often do you use cannabis?{{ end }}*' class="form-control" id="how_long">
			                            </div>
			                            <div class="form-group">
			                                <input type="text" name="alleviate_symptoms" placeholder='{{ if eq .Lang "fr" }}Est-ce que cette dose de cannabis allège vos symptômes?{{ else if eq .Lang "en" }}Does this dosage alleviate your symptoms?{{ end }}*' class="form-control" id="how_long">
			                            </div>
			                            <button type="button" class="btn btn-previous">{{ if eq .Lang "fr" }}Précédent{{ else if eq .Lang "en" }}Previous{{ end }}</button>
			                            <button type="button" class="btn btn-next">{{ if eq .Lang "fr" }}Suivant{{ else if eq .Lang "en" }}Next{{ end }}</button>
			                        </div>
			                    </fieldset>
			                    <fieldset id="step3">
			                    		<div class="form-bottom">
			                            <div class="form-group">
			                                <label for="first_identification">{{ if eq .Lang "fr" }}Premier document d'identification{{ else if eq .Lang "en" }}First ID Document{{ end }}</label>
			                                <input type="file" name="first_identification" class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label for="second_identification">{{ if eq .Lang "fr" }}Deuxième document d'identification{{ else if eq .Lang "en" }}Second ID Document{{ end }}</label>
			                                <input type="file" name="second_identification" class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label for="photo">{{ if eq .Lang "fr" }}Photo de taille passport{{ else if eq .Lang "en" }}Passport size photo{{ end }}</label>
			                                <input type="file" name="photo" class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label for="practitioner_recommandation">{{ if eq .Lang "fr" }}Formulaire de recommandation par le médecin complété{{ else if eq .Lang "en" }}Completed practitioner's recommandation form{{ end }}</label>
			                                <input type="file" name="practitioner_recommandation" class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label for="release_information">{{ if eq .Lang "fr" }}Formulaire de consentement à la divulgation de renseignements complété{{ else if eq .Lang "en" }}Completed Release of Information Form{{ end }}</label>
			                                <input type="file" name="release_information" class="form-control">
			                            </div>
			                            <div class="form-group">
			                                <label for="signature">Signature</label>
			                                <p style="text-transform: uppercase;">{{ if eq .Lang "fr" }}En cochant  cette case, vous déclaré que toutes les informations fournises sont vraies*{{ else if eq .Lang "en" }}By checking this box below you declare that the information you have provided on this form is factual*{{ end }}</p>
			                                {{ if eq .Lang "fr" }}
					                            	<input type="checkbox" data-toggle="toggle" data-on="Oui" data-off="Non" name="signature_confirmation">
					                            {{ else if eq .Lang "en" }}
					                            	<input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" name="signature_confirmation">
					                            {{ end }}
			                            </div>
			                            <button type="button" class="btn btn-previous">{{ if eq .Lang "fr" }}Précédent{{ else if eq .Lang "en" }}Previous{{ end }}</button>
			                            <button type="submit" class="btn">{{ if eq .Lang "fr" }}Envoyer{{ else if eq .Lang "en" }}Send{{ end }}</button>
			                        </div>
			                    </fieldset>
			                </form>
			            </div>
			        </div>
			    </div>
    		</div>
    	</div>

{{ partial "footer.html" . }}