{{ partial "head.html" . }}

    {{ partial "header.html" . }}

    <!--breacrumb start-->

    <div class="breadcrumbs-wrapper breadcumbs-bg1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="breadcrumbs breadcrumbs-style1 sep1 posr">
                        <ul>
                            <li>
                                <div class="breadcrumbs-icon1">
                                    <a href="/" title="Return to home"><i class="fa fa-home"></i></a>
                                </div>
                            </li>
                            <li>Formulaire</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breacrumb end-->

    <!--Steps start-->

    <div class="cart-sum-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="progress-summery text-center">
                        <ul class="progress-steps">
                            <li class="steps-item  litext is-active" data-identifiant="1"><a href="#">ÉTAPE 1</a>
                            </li>
                            <li class="steps-item" data-identifiant="2"><a href="#">ÉTAPE 2</a>
                            </li>
                            <li class="steps-item" data-identifiant="3"><a href="#">ÉTAPE 3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Steps end-->
    <div class="multistep-form">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-6 col-xs-12">
    			</div>
    			<div class="col-sm-6 col-xs-12"></div>
    		</div>
    	</div>
    </div>

{{ partial "footer.html" . }}