{{ partial "head.html" . }}

    {{ partial "header.html" . }}

    <div class="subpage-main-wrapper about-full">

        <!--Breadcrumb start-->
        <div class="breadcrumbs-wrapper breadcumbs-bg1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs breadcrumbs-style1 sep1 posr">
                            <ul>
                                <li>
                                    <div class="breadcrumbs-icon1">
                                        <a href="/" target="_blank" title="Return to home"><i class="fa fa-home"></i></a>
                                    </div>
                                </li>
                                <li>Devenir membre</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb end-->

        <!--about us main area start-->

        <div class="about-top-area">
            <div class="container">
            		<div class="row">
            			<div class="col-xs-12">
            				<div class="abt-content-wrapper">
	                    <div class="abt-title title-head-normal">
	                        <h3><span class="color-black-def">Adhésion</span></h3>
	                    </div>
	                    <div class="abt-content">
		                    <p>La Forêt Verte souhaite rendre votre adhésion aussi simple et rapide que possible.</p>
		                    <p>Si vous possédez une carte de membre valide d’un autre centre de compassion canadien, il vous est possible de l’utiliser pour vos trois premières visites à La Forêt Verte, après quoi une adhésion sera nécessaire. </p>
		                    <p>Si vous ne disposez pas actuellement de document médical autorisant l'usage du cannabis à des fins médicales ou de carte de membre valide d’un autre club de compassion, vous pouvez devenir membre de La Forêt Verte en suivant la démarche suivante.</p>
		                    <p>Pour cela, il vous suffit de remplir et nous envoyer les formulaires suivants accompagnés de documents d’identités.</p>
		                    <p>Vous pouvez également remplir les formulaires et vous inscrire directement en ligne en <a href="/inscription/">CLIQUANT ICI</a></p>
		                  <div class="abt-content second">
		                  	<p>Liste de documents à fournir :</p>
		                  	<ul>
		                  		<li>Copies de 2 pièces d’identités issues du gouvernement</li>
		                  		<li>Photo d’identité format passeport</li>
		                  		<li>Copie complétée du formulaire de Demande d’adhésion ci-dessous</li>
		                  		<li>Copie complétée du formulaire de Recommandation du praticien ci-dessous</li>
		                  		<li>Copie complétée du formulaire de Publication d’information ci-dessous</li>
		                  	</ul>
		                  	<p>Ces documents sont au format Adobe PDF. Si vous rencontrez des difficultés à les ouvrir, installez Adobe Reader en <a href="#">cliquant ici</a>.</p>
		                  </div>
	                	</div>
            			</div>
            		</div>
            </div>
        </div>
    </div>

{{ partial "footer.html" . }}