{{ partial "head.html" . }}

    {{ partial "header.html" . }}
    <div class="container" style="margin-bottom: 20px;">
			<div id="senior">
        <h1 style="margin-top: 20px;"><span class="color-black-def">{{ .Params.titre }}</span></h1>
				<p>{{ if eq .Lang "fr" }}10% de rabais pour les vétérans et les séniors{{ else if eq .Lang "en" }}10% discount for Veterans & Seniors{{ end }}</p>
			</div>
  		<div id="leafly-menu"></div>
  		<div style="text-align:center;">{{ if eq .Lang "fr" }}Visitez notre profil sur {{ else if eq .Lang "en" }}Visit our profile on {{ end }}<a href="https://www.leafly.com/dispensary-info/greenforestcompassionclub-a56a">Leafly</a></div>
  		<script src="https://www.leafly.com/public/global/js/dispensarymanager/embed.js"></script>
			<script>var pymParent = pym.Parent('leafly-menu', 'https://www.leafly.com/embed/menu2/greenforestcompassionclub-a56a', {});</script>
    </div>

{{ partial "footer.html" . }}