{{ partial "head.html" . }}

    {{ partial "header.html" . }}
		<div class="subpage-main-wrapper about-full">

        <!--Breadcrumb start-->
        <div class="breadcrumbs-wrapper breadcumbs-bg1">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs breadcrumbs-style1 sep1 posr">
                            <ul>
                                <li>
                                    <div class="breadcrumbs-icon1">
                                        <a href="/" target="_blank" title="Return to home"><i class="fa fa-home"></i></a>
                                    </div>
                                </li>
                                <li>Nos services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Breadcrumb end-->

        <!--about us main area start-->

        <div class="about-top-area">
            <div class="container">
            		<div class="row">
            			<div class="col-xs-12">
            				<div class="abt-content-wrapper">
	                    <div class="abt-title title-head-normal">
	                        <h3><span class="color-black-def">Services</span></h3>
	                    </div>
	                    <div class="abt-content bottom-div">
		                    <p>La Forêt Verte vous offre l’accès à cannabis fiable et de qualité, un processus d’achat entièrement sécurisé et une livraison rapide. Aussi, une assistance vous aide à être mis en relation avec des médecins qualifiés pouvant vous conseiller, vous informer et vous prescrire du cannabis thérapeutique.</p>
		                    <p>Souscrire à La Forêt Verte, c’est l’assurance d’un service fiable et de qualité. Un organisme respectueux et à l’écoute de ses patients afin de pouvoir les satisfaire au maximum.</p>
		                    <a class="btn-def" href="/inscription/">Devenez membre</a>
		                	</div>
	            			</div>
	            		</div>
	            </div>
	        </div>
	    </div>

{{ partial "footer.html" . }}